@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap");

$first-color: #aed9e0;
$second-color: #5e6472;
$third-color: #ffcfcb;
$fourth-color: #b8f2e6;

* {
  font-family: "Josefin Sans", sans-serif;
}

.search-bar {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}
.label {
  font-size: 24px;
}

.value {
  font-size: 20px;
}

.movie-title,
.movie-description,
.genre-name,
.genre-description,
.director-name,
.director-bio {
  border: solid $fourth-color;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.movie-image {
  max-width: 250px;
}

.main-view {
  padding-bottom: 10px;
}

.card-container {
  height: 100%;
}

.card-col {
  margin-bottom: 30px;
}

.btn.custom-btn {
  color: $second-color;
  background-color: $first-color;
  border: solid $first-color;
}

.btn.custom-btn:hover,
.btn.custom-btn:active {
  background-color: $third-color;
  border: solid $third-color;
  color: $second-color;
}

.btn.custom-btn-2 {
  background-color: $third-color;
  border: solid $third-color;
  color: $second-color;
}

.btn.custom-btn-2:hover,
.btn.custom-btn-2:active {
  color: $second-color;
  background-color: $first-color;
  border: solid $first-color;
}
